# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Quilt.iml
# Datasource local storage ignored files
/../../../../../../../:\development\git\Quilt3_dev\.idea\.idea.Quilt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
